<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    {{- block "additional-styles" . }}{{- end }}
    <body>
        <div class="spotlights">
            <div class="spotlight" id="spotlight-top"></div>
            <div class="spotlight" id="spotlight-bottom"></div>
        </div>
        <header>
            {{- partial "header.html" . -}}
            <div class="menu">
                {{- block "menu" . }}{{- end }}
            </div>
        </header>
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
